:root {
    --green: #107C10;
    --gray: #3A3A3A;
    --white: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--white)
}

body {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column
}

/* HEADER */

header {
    border:var(--white) 2px dashed;
    justify-content: space-between;
}

header #top-left {
    /* border:var(--green) 2px dashed; */
    align-items:center;
    flex: 1 0 auto;
}

#avatar {
    margin: 1em 2em;
    border-radius: 100%;
}

ul {
    /* border: 2px red dashed; */
    padding-right: 2em;
    justify-content: flex-end;
    flex: 1 0 auto;
}

li {
    /* border: var(--white) 2px dashed; */
    margin: 0.5em;
    align-self: center;
}

/* MAIN */

main {
    border: var(--green) dashed 2px;
    margin-top:5em;
}

.project {
    border: var(--white) dashed 2px;
}












/* MEDIA QUERIES */

/* Tablets */
@media screen and (max-width: 992px) {
    
}
  
/* Large smartphones */
@media screen and (max-width: 768px) {
    header ul {
        justify-content: space-around;
    }
}
  
/* Small smartphones */
@media screen and (max-width: 576px) {
    
}
  
