:root {
    --green: #107C10;
    --gray: hsl(0, 0%, 23%, 0.9);
    --white: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--white)
}

body {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column
}

/* HEADER */

header {
    /* border:var(--white) 2px dashed; */
    justify-content: space-between;
}

header #top-left {
    /* border:var(--green) 2px dashed; */
    align-items:center;
    flex: 1 0 auto;
}

#avatar {
    margin: 1em 2em;
    border-radius: 100%;
}

nav {
    /* border: 2px red dashed; */
    margin-right: 2em;
    justify-content: flex-end;
    flex: 1 0 auto;
}

a {
    /* border: var(--white) 2px dashed; */
    margin: 0.5em;
    align-self: center;
    text-align: center;
}

a:visited,
a:link {
    text-decoration: none;
    color: white;
}

/* MAIN */

main h2,
#about-me h2,
footer h2 {
    /* border: 2px red dashed; */
    font-size: 2em;
    padding: 1.3em 0 0.7em 1.3em;
}

#projects {
    /* border: var(--green) dashed 2px; */
    padding: 3px 2em 3px 2em;
    flex-wrap: nowrap;
    gap: 10px;
}

#mini-projects {
    /* border: red 2px dashed; */
    flex-grow: 1;
    justify-content: space-around;
    min-width:415px;

}

.project {
    /* border: var(--white) dashed 2px; */
    position: relative;
    padding:4px;
    border-radius: 9px;
}

#project-1 {
    /* border: 2px yellow dashed; */
    flex-grow:0;
    width: 415px;
}

#project-2,
#project-3,
#project-4,
#project-5,
#project-6,
.project-img {
/* border:deeppink 2px dashed; */
    max-width:200px;
    align-self: flex-end;  
}

#project-1-img {
    width:400px;
}

.project-img,
section a img {
    width:100%;
    border-radius: 9px;
}

/* Overlay hover for projects */

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--gray);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .project:hover .overlay {
    height: 53.3333px;
  }
  
  .text {
    color: var(--white);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* Drop shadow hover for projects */
                 
.project:hover,
.social:hover {
    box-shadow: inset 
    0px 0px 8px 
    var(--green),
    0 0 35px 
    var(--green);
}

  /* Border around elements when hover */

.project,
.social {
    border: 3px solid transparent;
    border-radius: 9px;
    padding: 5px;
    display: block;
}
  
.project:hover,
.social:hover {
    border: 3px solid var(--green);
}

/* About me */

#about-me {
    /* border: yellow 2px dashed; */
}

#profile {
    justify-content: space-evenly;
    padding: 0 2em 0 2em;
    gap: 2em;
    /* border:deepskyblue 2px dashed; */
}

#fact {
    /* border:deepskyblue 2px dashed; */
    /* margin-right: 2em; */
    flex:1 0 20%;
    align-self: flex-end;
    background-color: var(--gray);
}

#profile-pic {
    /* border: fuchsia 2px dashed; */
    height: 400px;
    max-width: 550px;
    min-width: 387px;
}

#gradient {
    background-image:
    linear-gradient(to top, hsl(0, 4%, 17%, 0.1), hsl(0,4%,17%,1.0)),
    url(../images/game-background.jpg);
    width:100%;
    height: 400px;
    background-size:cover;
    color: white;
    padding:20px;
    font-size: 1.5em;
    justify-content: center;
    min-width: 378px;
    
        
}

/* Footer */

footer {
    /* border: red 2px dashed; */
    display:flex;
}

#contact {
    justify-content: space-between;
    padding: 0 2em 0 2em;
    gap: 30px;
}

.social {
    /* border: green 2px dashed; */
    background-color: var(--gray);
    display:flex;
    border-radius: 9px;
    flex-grow: 1;
}

/* .padding {
    padding:4px;
    flex-grow: 1;
} */

h4 {
    /* border: yellow 2px dashed; */
    font-size: 1.3em;
    align-self: center;
}

footer div img {
    margin:35px;
    align-self: center;
    width: 30px;
    height: 30px;
}

#space {
    height: 2em
}

/* MEDIA QUERIES */

@media screen and (max-width: 1054px) {
    #profile-pic {
        flex-grow:1;
    }

@media screen and (max-width: 926px) {
    #projects {
        flex-wrap:wrap;
        justify-content: center;
    }

    #mini-projects {
        max-width: 415px;
        min-width: 415px;
    }
    
@media screen and (max-width: 702px) {
    nav {
        justify-content: space-between;
        margin: 0 2em 0 2em;
    }
}
